<div class="row">
    <div class="row">
        <div class="description">This is a web application that allows the user to extract text (typed and handwritten) from an image and then save the extracted text to a .txt file</div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <label for="fileUpload" class="btn btn-primary fileUpload">Select Image To Convert</label>
            <input id="fileUpload" type="file" accept="image/jpeg, image/png" hidden/> 
        </div>
        <div class="row">
            <div id="imgPreviewText" class="imgPreviewText" hidden>Image Preview:</div>
        </div>
        <div class="row">
            <img id="img" class="handwrittenImg"/>
        </div>
        <div class="row">
            <button id="convertImgToText" class="btn btn-success convertImgBtn" hidden>Convert Image</button>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div id="convertedText" class="convertedText" hidden>Converted Text (Please Make Edits As Needed)</div>
            <textarea id="imgText" class="imgText" hidden></textarea>
        </div>
        <div class="row">
            <input id="fileName" class="form-control fileNameInput" type="text" placeholder="(Optional) Choose file name before downloading" hidden />
        </div>
        <div class="row">
            <button id="saveTxtFileBtn" class="btn btn-success saveTxtFileBtn" hidden>Download As Text File</button>
        </div>
    </div>
</div>

<script src="~/js/FileSaver.js"></script>
<script defer src="~/js/home.js"></script>