html {
  font-size: 14px;
  font-family: Roboto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    font-size: 18pt;
}

li a {
    font-size: 16pt;
}

.headerUl {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mainContainer {
    padding: 15px 30px;
}

.footerContainer {
    padding: 0 15px;
}

.fileUpload {
    width: auto;
    margin-left: 10px;
}

.imgPreviewText {
    padding: 15px 10px;
    color: white;
}

.handwrittenImg {
    width: 400px;
}

.convertImgBtn {
    width: auto;
    margin: 25px 10px;
}

.imgText {
    background-color: lightgrey;
    resize: none;
    min-height: 400px;
    height: calc(100vh - 350px);
}

.saveTxtFileBtn {
    width: auto;
    margin: 15px 0 0 0;
}

.convertedText {
    color: white;
    padding-bottom: 15px;
}

.fileNameInput {
    width: 500px;
    margin: 15px 0 0 0;
}

.description {
    color: white;
    text-align: left;
    padding-bottom: 15px;
}

.loaderContainer {
    position: fixed;
    background-color: #eee5;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 768px) {
    .imgText {
        height: 400px;
    }
}